<div id="subhead"></div>

<div id="container">

  <div id="main">

    <div class="rightside">
      <div class="boxheadin">
        <h3>What They Can Do</h3>
      </div>
      <div class="box">
        <ul class="categories">
          <% @skills.each do |skill| %>
            <li><%= skill.skill %> <%= link_to '', skill_path(skill), :method => :delete, :class => "delete", :remote => true  %></li>
          <% end %>
        </ul>
      </div> <!--/BOX-->

      <%= link_to_resume %>

      <div class="boxhead"><h3>Their Work</h3></div>
      <div class="box">
        <% @works.each do |work| %>
          <ul class="upload">
            <li class="file">
              <% if work.image_approved %>
                <%= link_to work.work_file_name, work.work.url %>
              <% end %>
            </li>
          </ul>
        <% end %>
        <div class="clear"></div>
      </div> <!--/BOX-->
    </div> <!--/RIGHTSIDE-->

    <div class="content">
      <div class="head">
        <div class="left">
          <h5>Profile</h5>
        </div> <!--/LEFT-->
      </div> <!--/HEAD-->

      <div id="profile">
        <div id="info">
          <div class="left">
            <%= image_tag @profile.picture.url(:profile) %>
            <ul class="action">
              <li class="invite"><a href="#">Invite A Friend</a></li>
            </ul>
          </div> <!--/LEFT-->

          <div class="right">
            <h2><%= @user.username %></h2>
            <ul class="user">
              <li><%= @user.username %></li>
              <li><%= @user.profile.location %></li>
            </ul>

            <b class="ratings">Customer Ratings:</b>
            <ul class="ratings">
              <li class="positive">214</li>
              <li class="negative">4</li>
            </ul>

            <div class="clear"></div>

            <b>About:</b>
            <p><%= @profile.about %></p>

          </div> <!--/RIGHT-->
          <div class="clear"></div>
        </div> <!--/INFO-->

        <div class="feedback">
          <h2>Feedback:</h2>
          <div class="clear"></div>

          <div class="holder">

            <div class="up"></div>
            <div class="left">
             
            </div> <!--/Up-->

            <div class="down"></div>
            <div class="left">
              
            </div> <!--/Up-->

            <div class="up"></div>
            <div class="left">
              
            </div> <!--/Up-->

            <div class="up"></div>
            <div class="left">
              
            </div> <!--/Up-->


            <div class="up"></div>
            <div class="left">
              
            </div> <!--/Up-->

          </div> <!--/HOLDER-->

          <div class="clear"></div>
        </div> <!--/FEEDBACK-->


        <div id="colholder">

          <div class="column">
            <div class="infohead">
              <b>Latest Seeds:</b>
              <p>Jobs I Recently Need Done</p>
            </div>
            <ul>
              <% @seeds.each do |project| %>
                <li><a href="#"><%= project.title %></a></li><i>due <%= project.due_date.strftime("%m/%d/%Y")%></i>
              <% end %>
            </ul>
          </div>

          <div class="column">
            <div class="infohead">
              <b>Latest Sprowts:</b>
              <p>Jobs I Have Done</p>
            </div>
            
          </div>


          <div class="column">
            <div class="infohead">
              <b>Working On:</b>
              <p>Jobs I Am Doing</p>
            </div>
            
          </div>

        </div> <!--/COLHOLDER-->
      </div> <!--/PROFILE-->
    </div> <!--/CONTENT-->
  </div> <!--/MAIN-->

  <div class="clear"></div>
</div> <!--/CONTAINER-->


<div id="botlinks">

  <div class="left">

    

   

  </div> <!--/LEFT-->
</div>
