#subhead
#container
  #main
    .rightside
      .boxheadin
        %h3 What They Can Do
      .box
        %ul.categories
          - @skills.each do |skill|
            %li
              = skill.skill
              = link_to '', skill_path(skill), :method => :delete, :class => "delete", :remote => true
      / /BOX
      = link_to_resume unless @profile.user.resume.blank?
      .boxhead
        %h3 Their Portfolio
      .box
        - @works.each do |work|
          %ul.upload
            %li.file
              - if work.image_approved
                = link_to work.work_file_name, work.work.url
        .clear
      / /BOX
    / /RIGHTSIDE
    .content
      .head
        .left
          %h5 Profile
        / /LEFT
      / /HEAD
      #profile
        #info
          .left
            = image_tag @profile.picture.url(:profile)
            %ul.action
              %li.invite
                %a{:href => "#"} Invite A Friend
          / /LEFT
          .right
            %h2= @user.username
            %ul.user
              %li= @user.username
              %li= @user.profile.location
            %b.ratings Customer Ratings:
            %ul.ratings
              %li.positive 214
              %li.negative 4
            .clear
            %b About:
            %p= @profile.about
          / /RIGHT
          .clear
        / /INFO
        .feedback
          %h2 Feedback:
          .clear
          .holder
            .up
            .left
            / /Up
            .down
            .left
            / /Up
            .up
            .left
            / /Up
            .up
            .left
            / /Up
            .up
            .left
            / /Up
          / /HOLDER
          .clear
        / /FEEDBACK
        #colholder
          .column
            .infohead
              %b Latest Seeds:
              %p Jobs I Recently Need Done
            %ul
              - @seeds.each do |project|
                %li
                  %a{:href => "#"}= project.title
                %i
                  due #{project.due_date.strftime("%m/%d/%Y")}
          .column
            .infohead
              %b Latest Sprowts:
              %p Jobs I Have Done
          .column
            .infohead
              %b Working On:
              %p Jobs I Am Doing
        / /COLHOLDER
      / /PROFILE
    / /CONTENT
  / /MAIN
  .clear
/ /CONTAINER
= render :partial => 'layouts/footer'
