<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>sprowty</title>
<link rel="stylesheet" type="text/css" href="shadowboxes.css" />

<style type="text/css">
html, body { margin: 0; padding: 0px; height: 100%; background: url(/images/bg.jpg) repeat-x;} 
a:active, a:focus, button{outline: 0;}
#signupcontainer {font: 12px Helvetica, Arial, Sans-Serif; padding: 20px;}
#signupcontainer .left {float: left; width: 350px;}
#signupcontainer .right {float: right; width: 320px;}

#signupcontainer input.field, input.fieldlast {
padding: 20px; 
border: 1px solid #c3b288; 
font: 22px Georgia,'Times New Roman',Serif; 
font-style: italic; 
color: #3c3c39; 
width: 300px;
margin-bottom: 24px;
}

#signupcontainer input.fieldlast {margin-bottom: 0}
#signupcontainer h3, #signupcontainer p, #signupcontainer p a {color: #532c19}
#signupcontainer h3 {margin: 0; padding: 0; font-size: 22px; }
#signupcontainer a.login {font-weight: bold; font-size: 18px; color: #585a05}
#signupcontainer p {font-size: 11px; margin: 0; padding: 0}
.recaptcha {margin: 20px 0}
.radio {margin: 20px 0}
.radio input  {float: left; margin-right: 10px}
#signupcontainer p {padding: 4px 0}
#signupcontainer .create {background: url(/images/button_create.png) no-repeat; width: 312px; height: 71px; text-indent: -9999em; display: block; margin: 0 auto; border: 0;}

#signupcontainer .create:hover {
-webkit-box-shadow: 0px 0px 8px #000;
-moz-box-shadow: 0px 0px 8px #000;
box-shadow: 0px 0px 8px #000; 
-moz-border-radius: 22px;
border-radius: 22px;
}
</style>

</head>

<body>

<div id="signupcontainer">
 <div class="left">
 <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
   <%= devise_error_messages! %>  
   <%= f.email_field :email, :class => "field" %>
   <%= f.password_field :password, :class => 'field' %>
   <%= f.password_field :password_confirmation, :class => 'fieldlast' %>
  </div> <!--LEFT-->

  <div class="right">
    <img class="recaptcha" src="/images/dummy_recaptcha.gif" />

    <div class="radio">
      <input type="radio" name="data[Submit][question]"><p>I have read & agree to sprowty’s <a href="#">Terms & Conditions</a></p>
    </div>
  
    <%= f.submit 'Create Account', :class => 'create' %>
  </div> <!--RIGHT-->
  <% end %>
</div> <!--SIGNUPCONTAINER-->

</body> 
</html>