#subhead
#needdone
  .holder
    .left
      %h4 Sign up
    / /LEFT
#container
  #main
    #signupcontainer{:style => "background-color: #FFF; height: 400px;"}
      .left
        = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          %p= devise_error_messages!
          %h2 Username
          %p= f.text_field :username,               :class => "field clearField"
          %h2 E-mail
          %p= f.email_field :email,                 :class => 'field clearField'
          %h2 Password
          %p= f.text_field :password,               :class => 'field clearField'
          %h2 Password Confirmation
          %p= f.text_field :password_confirmation,  :class => 'fieldlast clearField'
      / LEFT
      .right
        %img.recaptcha{:src => "/images/dummy_recaptcha.gif"}/
        .radio
          %input{:name => "data[Submit][question]", :type => "radio"}/
          %p
            I have read & agree to sprowty’s
            %a{:href => "#"} Terms & Conditions
        = f.submit 'Create Account', :class => 'create'
      / RIGHT
    / SIGNUPCONTAINER
#botlinks
  .left
    %ul
      %li
        %a{:href => "#"} Contact Us
      %li
        %a{:href => "#"} Terms Of Service
      %li
        %a{:href => "#"} How To
      %li
        %a{:href => "#"} FAQ
      %li
        %a{:href => "#"} Blog
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2010
/ /BOTLINKS