#subhead
#needdone
  .holder
    .left
      %h4 Sign up
    / /LEFT
#container
  #main
    - if alert
      .errors
        %p= alert
    #signupcontainer{:style => "background-color: #FFF; height: 400px;"}
      .left
        = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          %p= devise_error_messages!
          %h2 Username
          %p= f.text_field :username,               :class => "field clearField"
          %h2 E-mail
          %p= f.email_field :email,                 :class => 'field clearField'
          %h2 Password
          %p= f.text_field :password,               :class => 'field clearField'
          %h2 Password Confirmation
          %p= f.text_field :password_confirmation,  :class => 'fieldlast clearField'
      / LEFT
      .right
        .member
          Already have an account?
          %br/
          %a{:href => "#"} Log In
        .radio
          %input{:name => "data[Submit][question]", :type => "radio"}/
          %p
            I have read & agree to sprowty’s
            %a{:href => "#"} Terms & Conditions
        = f.submit 'Create Account', :class => 'create'
      / RIGHT
    / SIGNUPCONTAINER
