= stylesheet_link_tag 'application', 'bids'
= javascript_include_tag "jquery", "jquery.colorbox-min"

#submitbid
  = form_tag([@project, @bid], :url => {:action => 'create'}) do
    .head
      %h3{:style => 'font-family: Helvetica'}
        = @project.title
      %b Posted By:
      = link_to "#{@project.user.username}", profile_path(@project)
    - unless error_messages_for.nil?
      .left
        %p= error_messages_for :bid
      .clear
    .bid
      .left
        %ul
          %li Accept Current Bid
          %li
            %a.active.accept_current_price{:href => "#"} Accept Current
          = #check_box_tag :accept_current_price, :style => 'display: none;'
      .right
        %h4 Or Enter Other:
        %i Increment of $5
        = text_field_tag :price
    .clear
    .why
      %h4 Why Should You Get This Job?
      = text_area_tag :why
    = submit_tag 'Submit Bid', :class => 'submit'

:javascript
  $.fn.colorbox({inline:true, href:"#submitbid", opacity:.65, height: "550px", width: "702px"});
