#subhead
#needdone
  .holder
    .left
      %h4 Login
#container
  #main
    - if alert
      .errors
        %p= alert
    #signupcontainer
      .left
        %h2 Forgot your password?
        = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
          = devise_error_messages!
          %p
            = f.label :email
            %br/
            = f.text_field :email
          %p= f.submit "Send me reset password instructions"
        = render :partial => "devise/shared/links"
#botlinks
  .left
    %ul
      %li
        %a{:href => "#"} Contact Us
      %li
        %a{:href => "#"} Terms Of Service
      %li
        %a{:href => "#"} How To
      %li
        %a{:href => "#"} FAQ
      %li
        %a{:href => "#"} Blog
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2010
/ /BOTLINKS