#subhead
#needdone
  .holder
    .left
      %h4 Forgot Your Password?
#container
  #main
    #signupcontainer
      .left
        = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
          = devise_error_messages!
          %br/
          %p
            %h2 Enter your E-mail
            = f.text_field :email, :class => "field clearField"
            = f.submit "Send me reset password instructions", :id => 'forgot_password'
        = render :partial => "devise/shared/links"
