#subhead
#needdone
  .holder
    .left
      %h4 Login
#container
  #main
    - if alert
      .errors
        %p= alert
    #signupcontainer
      .left
        %h2 Forgot your password?
        = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
          = devise_error_messages!
          %p
            = f.label :email
            %br/
            = f.email_field :email
          %p= f.submit "Send me reset password instructions"
        = render :partial => "devise/shared/links"
