.right
  - unless current_user
    / SIGN IN
    #logincontainer
      #topnav.topnav
        %a.signin{:href => "login"}
          %span Sign in
      %fieldset#signin_menu
        = semantic_form_for "user", :url => user_session_path do |f|
          %ul
            = f.input :email, :as => :string
            = f.input :password, :as => :password
            = f.submit 'Sign in', :style => 'float:right;'
          .clear
    / /SIGN IN
    = link_to image_tag('fbconnect.png', :class => 'fbconnect'), user_omniauth_authorize_path(:facebook)
  - else
    %ul.loggedin
      %li= link_to 'My Profile', profile_path
      %li= link_to_resume
      %li= link_to 'Inbox', inbox_path
      %li
        %a{:href => "#"} Projects
      %li
        %a{:href => "#"} You're Needed
    %ul.userlog
      %li
        %b Welcome
      %li= link_to current_user.username, profile_path
      %li= link_to 'Logout', logout_path
/ /RIGHT
