<div class="right">
<% unless current_user %>
  <!--SIGN IN-->
  <div id="logincontainer">

    <div id="topnav" class="topnav">
      <a href="login" class="signin">
        <span>Sign in</span>
      </a>
    </div>

    <fieldset id="signin_menu">
      <%= semantic_form_for "user", :url => user_session_path do |f| %>
      <ul>
        <%= f.input :email, :as => :string %>
        <%= f.input :password, :as => :password %>
        <%= f.submit 'Sign in', :style => 'float:right;' %>

        <div class="clear"></div>
      </ul>
      <% end %>
    </fieldset>

  </div>
<!--/SIGN IN-->

  <%= link_to image_tag('fbconnect.png', :class => 'fbconnect'), user_omniauth_authorize_path(:facebook) %>

  <% else %>
    <ul class="loggedin">
      <li><%= link_to 'My Profile', profile_path %></li>
      <li><%= link_to_resume %></li>
      <li><%= link_to 'Inbox', inbox_path %></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">You're Needed</a></li>
    </ul>

    <ul class="userlog">
      <li><b>Welcome</b></li>
      <li><%= link_to current_user.username, profile_path %></li>
      <li><%= link_to 'Logout', logout_path %></li>
    </ul>
  <% end %>
</div> <!--/RIGHT-->

