#signupcontainer{:style => "height: 400px"}
  = form_for(:user, :url => registration_path('user')) do |f|
    .left
      %h2 Username
      = f.text_field :username,              :class => "field clearField"
      %h2 E-mail Address 
      = f.email_field :email,                :class => "field clearField"
      %h2 Password
      = f.password_field :password,              :class => 'field clearField'
      %h2 Password Confirmation
      = f.password_field :password_confirmation, :class => 'fieldlast clearField'
    / LEFT
    .right
      .member{:style => "padding-left:35px; padding-top:45px"}
        Already have an account?
        %a{:href => user_session_path} Log In
      %br/
      %br/
      = link_to image_tag('fbconnect.png', :class => 'fbconnect'), user_omniauth_authorize_path(:facebook)
      %br/
      %br/
      %div{:style => "padding-left:22px; padding-bottom:2px"}
        = f.check_box :terms, :class => 'checkbox', :style => 'width: auto'
        I have read & agree to sprowty’s
        %a{:href => "#"}
          Terms & Conditions
          %br/
          %br/
      = f.submit 'Create Account', :class => 'create'
    / RIGHT
/ SIGNUPCONTAINER
