#signupcontainer
  = form_for(@user, :url => registration_path('user')) do |f|
    .left
      = f.fields_for Profile.new do |p|
        .profile_fields
          = p.text_field :first_name, :class => 'field clearField', :placeholder => 'enter first name'
          = p.text_field :last_name, :class => 'field clearField', :placeholder => 'enter last name'
          = p.text_field :zipcode, :class => 'fieldlast clearField', :placeholder => 'enter zipcode'

      .user_fields
        = f.email_field :email,                     :class => 'field clearField', :placeholder => 'enter email'
        = f.password_field :password,               :class => 'field clearField', :placeholder => 'enter password'
        = f.password_field :password_confirmation,  :class => 'field clearField', :placeholder => 'confirm password'

    / LEFT
    .right
      .member{:style => "padding-left:35px; padding-top:45px"}
        Already have an account?
        %a{:href => user_session_path} Sign In
      %br/
      %br/
      = link_to image_tag('fbconnect.png', :class => 'fbconnect'), user_omniauth_authorize_path(:facebook)
      %br/
      %br/
      %div{:style => "padding-left:22px; padding-bottom:2px; margin-left: 55px;"}
        = f.check_box :terms, :class => 'checkbox', :style => 'width: auto'
        I agree to the
        %a{:href => "/terms"}
          Terms of Service
          %br/
          %br/
      = f.submit 'Join', :class => 'join'
.clear
