#container
  #main
    %h2 Contact Us

    %form{:name => "email", :id => "email", :action => "/contact", :method => "post", :enctype => "text/plain"}
      .settings
        .label
          %label Username:
        .input
          = text_field :username, :class => 'field'
      .clear
      .settings
        .label
          %label Email:
        .input
          = text_field :email, :class => 'field'
      / /SETTINGS
      .clear
      .settings
        .label
          %label Project ID:
        .input
          = text_field :project_id, :class => 'field'
      .clear
      .settings
        .label
          %label Subject:
        .input
          = select :subject, CATEGORIES, {:include_blank => false}
      .clear
      .settings
        .label
          %label Comments
        .input
          = text_area :comments, :class => 'field'
        .clear

