= render :partial => 'projects/plant'
#container
  #main
    .content
      .head
        .left{:style => 'width: 300px;'}
          %h5 Contact Us
      .contactus{:style => 'margin: 10px;'}
        %form{:name => "email", :id => "email", :action => "/contact", :method => "post", :enctype => "text/plain"}
          .settings
            .label
              %label Full Namr:
            .input
              = text_field :full_name, :class => 'field'
            .label
              %label Email:
            .input
              = text_field :email, :class => 'field'
          / /SETTINGS
          .clear
          .settings
            .label
              %label Order Number:
            .input
              = text_field :order_number, :class => 'field'
          .clear
          .settings
            .label
              %label Subject:
            .input
              = select :subject, CATEGORIES, {:include_blank => false}
          .clear
          .settings
            .label
              %label message
            .input
              = text_area :message, :class => 'field'
            .clear
          = submit_tag "send", :class => 'send_btn'
    .rightside
      %h2 Sprowt Around
      %p Find the jobs you want to do
      = form_for :search, :url => search_url do |f|
        = f.text_field :title_or_description_contains, :placeholder => 'Search'
        = hidden_field_tag "source", "search"
        %button{:type => "submit"} Search
      .clear
      %br/

      = render :partial => 'shared/categories'

      #inbox
  .clear
