- unless current_user
  #slider
    .holder
      %b SLIDER HERE
  / /SLIDER
- else
  #subhead
.holder
#needdone
  .holder
    .left
      %h4 Need Something Done?
    / /LEFT
    .right
      %form#search{:action => "", :method => "get", :name => "input"}
        %input#what_you_need_done.field{:name => "what_you_need_done", :placeholder => "Type What You Need Done Here", :type => "text"}/
        %button#plant_it{:type => "submit"} Plant
    / /RIGHT
/ /NEEDDONE
#container
  #main
    .rightside
      %h2 Harvest Fields
      %p Find the jobs you want to do
      = form_for :search, :url => root_url do |f|
        = f.text_field :title_or_description_contains, :placeholder => 'Search'
        %button{:type => "submit"} Search
      .clear
      .boxhead
        %h3 Categories
      .box
        %ul.categories
          %li
            %a{:href => "#"} Accounting/Finance
          %li
            %a{:href => "#"} Customer Services
          %li
            %a{:href => "#"} Design
          %li
            %a{:href => "#"} Fashion
          %li
            %a{:href => "#"} Location Based
          %li
            %a{:href => "#"} Marketing/PR
          %li
            %a{:href => "#"} Medical/Health
          %li
            %a{:href => "#"} Music/Audio
          %li
            %a{:href => "#"} Organizing/Planning
          %li
            %a{:href => "#"} Photography
          %li
            %a{:href => "#"} Programming/Development
          %li
            %a{:href => "#"} Research
          %li
            %a{:href => "#"} Social Media
          %li
            %a{:href => "#"} Translation
          %li
            %a{:href => "#"} Video
          %li
            %a{:href => "#"} Writing
          %li
            %a{:href => "#"} Other
      / /BOX
    / /RIGHTSIDE
    = javascript_include_tag 'http://www.twitter.com/javascripts/blogger.js', 'http://twitter.com/statuses/user_timeline/sprowty.json?callback=twitterCallback2&amp;count=5'
    .content
      .head
        .left
          %h2 All Jobs
        / /LEFT
        .right
          %ul
            %li.sort
              %b Filter By:
            %li= sort_link @search, :created_at, 'Newest'
            %li= sort_link @search, :due_date, 'Expiration'
            %li= sort_link @search, :price
            %li= sort_link @search, :bid_count, 'Sprowt count'
        / /RIGHT
      / /HEAD
      #listings
        - @projects.each do |project|
          .post
            .sprowts
              %span.bold.bid_count= project.bid_count
              %p Sprowts
              %p (Bids)
            .pic= link_to image_tag(project.user.profile.picture.url(:thumb)), profile_path(project.user)
            .info
              %h2= link_to project.title, project_path(project)
              %ul.posted
                %li
                  %b Due:
                  = project.due_date.strftime("%m/%d/%Y")
                %li
                  %b By:
                  %a#stay-target-11.stay-tooltip-target.tooltip-target= project.user.username
                %li
                  %b Location:
                  = project.city
                  , #{project.state}
              / /Posted
              %p
                = project.description.truncate(30)
                = link_to 'Read More', project, :class => 'readmore'
              %ul.actions
                - if current_user
                  %li= link_to 'Sprowt it', new_bid_path(:project => project), :class => 'sprowt'
                  %li
                    %a{:href => "#"} Create Similar
                %li.share
                  %a#stay-target-12.stay-tooltip-target.tooltip-target Share
              #stay-content-12.stay-tooltip-username.tooltip-share
                %ul
                  %li
                    %a.facebook{:href => "#"}
                  %li
                    %a.twitter{:href => "#"}
                  %li
                    %a.email{:href => "#"}
              / /stay-content-12
            / /INFO
            .price
              %h4= number_to_currency(project.price, :precision => 0)
              %i Asking Price
            .clear
          / /POST TWO
      / /LISTINGS
    / /CONTENT
  / /MAIN
  .clear
  = will_paginate @projects
/ /CONTAINER
#botlinks
  .left
    %ul
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2010
/ /BOTLINKS
%script{:charset => "utf-8", :type => "text/javascript"}
  jQuery(function() {
  jQuery('#plant_it').bind('click', function(e) {
  e.preventDefault();
  var link = "<haml:loud> new_project_url </haml:loud>";
  link = link + '?title=' + jQuery('#what_you_need_done').val();
  jQuery.colorbox({ href: link, width: "800px", Height: "640px" });
  });
  });
