- unless current_user
  #slider
    .slide
      .holder
        = image_tag 'seeder-button-on.png'
        = link_to image_tag('sprowter-button-off.png'), '', :class => 'next-slide'
        %br/
        .slider
          %ul
            %li
              = image_tag 'plant-seed.png'
              %p<
                Post what you need done.
            %li
              = image_tag 'get-sprowter.png'
              %p<
                Wait for bids, and choose who you like best.
            %li
              = image_tag 'watch-sprowt.png'
              %p<
                Watch your project progress.
            %li
              = image_tag 'grown-up.png'
              %p<
                Your project is complete, leave feedback and relax!
      .seeder-image
        = image_tag 'seeder-slider.png'
    .slide{:style => 'display: none;'}
      .holder
        = link_to image_tag('seeder-button-off.png'), '', :class => 'previous-slide'
        = image_tag 'sprowter-button-on.png'
        %br/
        .slider
          %ul
            %li
              = image_tag 'set-skills.png'
              %p<
                List what you’re good at, and the jobs will come to you.
            %li
              = image_tag 'sprowt-around.png'
              %p<
                Search for jobs you’re interested in.
            %li
              = image_tag 'start-bidding.png'
              %p<
                Use tokens to bid on any open job.
            %li
              = image_tag 'rake-money.png'
              %p<
                Self-explanatory, we hope!


      .sprowter-image
        = image_tag 'sprowter-slider.png'
    .clear
  / /SLIDER
- else
  #subhead
.holder
#needdone
  .holder
    .left
      %h4 Need Something Done?
    / /LEFT
    .right
      = form_tag('/projects/new', :method => :get, :id => 'search') do
        = text_field_tag "title", nil, :class => 'field', :placeholder => "Type What You Need Done Here"
        %button{:type => "submit"} Plant
    / /RIGHT
/ /NEEDDONE
#container
  #main
    .rightside
      %h2 Sprowt Around
      %p Find the jobs you want to do
      = form_for :search, :url => root_url do |f|
        = f.text_field :title_or_description_contains, :placeholder => 'Search'
        %button{:type => "submit"} Search
      .clear
      %br/
      #listings
        .post
          = link_to image_tag('community.png'), community_path
      .boxhead{:style => 'margin-top: 100px'}
        %h3 Categories
      .box
        %ul.categories
          %li
            %a{:href => "#"} Accounting/Finance
          %li
            %a{:href => "#"} Customer Services
          %li
            %a{:href => "#"} Design
          %li
            %a{:href => "#"} Fashion
          %li
            %a{:href => "#"} Location Based
          %li
            %a{:href => "#"} Marketing/PR
          %li
            %a{:href => "#"} Medical/Health
          %li
            %a{:href => "#"} Music/Audio
          %li
            %a{:href => "#"} Organizing/Planning
          %li
            %a{:href => "#"} Photography
          %li
            %a{:href => "#"} Programming/Development
          %li
            %a{:href => "#"} Research
          %li
            %a{:href => "#"} Social Media
          %li
            %a{:href => "#"} Translation
          %li
            %a{:href => "#"} Video
          %li
            %a{:href => "#"} Writing
          %li
            %a{:href => "#"} Other
      / /BOX
    / /RIGHTSIDE
    .content
      .head{:style=>'width: 634px;'}
        .left{:style=>'padding-top: 11px;'}
          %h2 All Jobs
        / /LEFT
        .right{:style=>'width: 425px;'}
          %ul
            %li.sort
              %b Filter By:
            %li= sort_link @search, :created_at, 'Newest'
            %li= sort_link @search, :due_date, 'Expiration'
            %li= sort_link @search, :price
            %li= sort_link @search, :bid_count, 'Sprowt count'
        / /RIGHT
      / /HEAD
      #listings
        - @projects.each do |project|
          .post
            .sprowts
              %span.bold.bid_count= project.bids.length
              %p Sprowts
              %p (Bids)
            .pic= link_to image_tag(project.user.profile.picture.url(:thumb)), profile_path(project.user)
            .info
              %h2= link_to project.title, project_path(project.id)
              %ul.posted
                %li
                  %b Due:
                  = project.due_date.strftime("%m/%d/%Y")
                %li
                  %b By:
                  = link_to project.user.username, profile_url(project.user)
              %ul.posted
                %li
                  %b Location:
                  = project.city
                  , #{project.state}
              / /Posted
              #description
                .keywords
                  %b In Category:

                .keywords
                  %b Keywords:

              %p
                = project.description.truncate(30)
                = link_to 'Read More', project, :class => 'readmore'
              %ul.actions
                - if current_user
                  %li= link_to 'Sprowt it', new_bid_path(:project => project), :class => 'sprowt'
                  %li
                    %a{:href => "#"} Create Similar
                %li.share
                  %a#stay-target-12.stay-tooltip-target.tooltip-target Share
              #stay-content-12.stay-tooltip-username.tooltip-share
                %ul
                  %li
                    %a.facebook{:href => "#"}
                  %li
                    %a.twitter{:href => "#"}
                  %li
                    %a.email{:href => "#"}
              / /stay-content-12
            / /INFO
            .price
              %h4= number_to_currency(project.price, :precision => 0)
              %i Asking Price
            .clear
          / /POST TWO
      / /LISTINGS
    / /CONTENT
  / /MAIN
  #paginationholder
    .pagination
      %ol.wp-paginate
        %li
          %span.title
        %li
          %a.prev{:href => "#"} ‹‹
        %li
          %span.currentpage 1
        %li
          %a.page{:href => "#", :title => "2"} 2
        %li
          %a.page{:href => "#", :title => "3"} 3
        %li
          %a.page{:href => "#", :title => "4"} 4
        %li
          %a.next{:href => "#"} ››
  .clear
  
/ /CONTAINER

%script{:charset => "utf-8", :type => "text/javascript"}
  jQuery(function() {
  jQuery('#plant_it').bind('click', function(e) {
  e.preventDefault();
  var link = "#{new_project_url}";
  link = link + '?title=' + jQuery('#what_you_need_done').val();
  jQuery.colorbox({ href: link, width: "800px", Height: "640px" });
  });
  });
