- unless current_user
  #slider
    .slide
      .holder
        = image_tag 'seeder-button-on.png'
        = link_to image_tag('sprowter-button-off.png'), '', :class => 'next-slide'
        %br/
        .slider
          %ul
            %li
              = image_tag 'plant-seed.png'
              %p<
                Post what you need done.
            %li
              = image_tag 'get-sprowter.png'
              %p<
                Wait for bids, and choose who you like best.
            %li
              = image_tag 'watch-sprowt.png'
              %p<
                Watch your project progress.
            %li
              = image_tag 'grown-up.png'
              %p<
                Your project is complete, leave feedback and relax!
      .seeder-image
        = image_tag 'seeder-slider.png'
    .slide{:style => 'display: none;'}
      .holder
        = link_to image_tag('seeder-button-off.png'), '', :class => 'previous-slide'
        = image_tag 'sprowter-button-on.png'
        %br/
        .slider
          %ul
            %li
              = image_tag 'set-skills.png'
              %p<
                List what you’re good at, and the jobs will come to you.
            %li
              = image_tag 'sprowt-around.png'
              %p<
                Search for jobs you’re interested in.
            %li
              = image_tag 'start-bidding.png'
              %p<
                Use tokens to bid on any open job.
            %li
              = image_tag 'rake-money.png'
              %p<
                Self-explanatory, we hope!


      .sprowter-image
        = image_tag 'sprowter-slider.png'
    .clear
  / /SLIDER
- else
  #subhead
.holder
#needdone
  .holder
    .left
      %h4 Need Something Done?
    / /LEFT
    .right
      = form_tag('/projects/new', :method => :get, :id => 'search') do
        = text_field_tag "title", nil, :class => 'field', :placeholder => "Type What You Need Done Here"
        %button{:type => "submit"} Plant
    / /RIGHT
/ /NEEDDONE
#container{:style => 'min-height: 100%;'}
  #main
    .rightside
      %h2 Sprowt Around
      %p Find the jobs you want to do
      = form_for :search, :url => root_url do |f|
        = f.text_field :title_or_description_contains, :placeholder => 'Search'
        %button{:type => "submit"} Search
      .clear
      %br/

      = render :partial => 'shared/categories'
      / /BOX
    / /RIGHTSIDE
    .content
      .head{:style=>'width: 634px;'}
        .left{:style=>'padding-top: 11px;'}
          %h2 All Jobs
        / /LEFT
        .right{:style=>'width: 425px;'}
          %ul
            %li.sort
              %b Filter By:
            %li= sort_link @search, :created_at, 'Newest'
            %li= sort_link @search, :due_date, 'Expiration'
            %li= sort_link @search, :price
            %li= sort_link @search, :bid_count, 'Sprowt count'
        / /RIGHT
      / /HEAD
      #listings
        - @projects.each do |project|
          .post
            .sprowts
              %span.bold.bid_count= project.bids.length
              %p Sprowts
              %p (Bids)
            .pic= link_to image_tag(project.user.profile.picture.url, :size => "129x129"), profile_path(project.user)
            .info
              %h2= link_to project.title, project_path(project.id)
              %ul.posted
                %li
                  %b Due:
                  = project.due_date.strftime("%m/%d/%Y")
                %li
                  %b By:
                  = link_to project.user.profile.full_name, project.user.profile

              %ul.posted
                %li
                  %b Location:
                  = link_to "#{project.city}, #{project.state}", root_url(:city => project.city, :state => project.state)
              / /Posted
              #description
                .keywords
                  %b In Category:
              %p
                = project.description.truncate(60)
                = link_to 'Read More', project, :class => 'readmore'
              %ul.actions
                %li= link_to 'Sprowt it', new_project_bid_path(:project_id => project.id)
                %li= link_to "Create Similar", new_project_url(:source_id => project.id)

                %li.share
                  = display_sharing_tooltip
              / /stay-content-12
            / /INFO
            .price
              %h4= number_to_currency(project.price, :precision => 0)
              %i Asking Price
            .clear
          / /POST TWO
      = will_paginate @projects
      / /LISTINGS
    / /CONTENT
  / /MAIN

/ /CONTAINER

%script{:charset => "utf-8", :type => "text/javascript"}
  jQuery(function() {
  jQuery('#plant_it').bind('click', function(e) {
  e.preventDefault();
  var link = "#{new_project_url}";
  link = link + '?title=' + jQuery('#what_you_need_done').val();
  jQuery.colorbox({ href: link, width: "800px", Height: "640px" });
  });
  });
