= form_for(@project) do |f|
  - unless error_messages_for.nil?
    %p= error_messages_for :project
  .left
    .labelholder
      %label Job Title:
    = f.text_field :title, :class => 'field'
    .labelholder
      %label Category:
      %i Choose the category your job should be listed in
    = f.select :category, CATEGORIES, {:include_blank => true}
    .clear
    %br/
    .labelholder
      %label Description:
      %i Insert the full description and guidelines of your job
    = f.text_area :description, :class => 'field'
    .labelholder
      %label Zip Code:
      %i Optional zip code
    = f.text_field :zipcode, :class => 'field'
    .labelholder
      %label Due Date:
      %i Select Your Due Date
    = f.date_select :due_date, { :order => [:month, :day, :year], :use_month_numbers => false }, :class => 'date'
    .clear
    .labelholder
      %label Price:
      %i Enter in Increments of $5
    = f.text_field :price, :value => '$5', :onfocus => "if(this.value=='$5')this.value=''", :onblur => "if(this.value=='')this.value='$5'", :class => 'price'
    .clear
  .clear
  = f.submit 'Plant Seed', :class => 'plantseed'
  .clear
  %br/
