<%= form_for project, :html => {:class => 'live-form'} do |f| %>
  <% unless error_messages_for.nil? %>
    <p><%= error_messages_for :project %></p>
  <% end %>

<div class="left">

  <div class="labelholder">
    <label>Category:</label>
  </div>
    <select>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
    <option value="4">Option 4</option>
    <option value="5">Option 5</option>
    </select>
  <div class='clear'/>
  <div class="labelholder">
    <label>Job Title:</label>
  </div>
  <%= f.text_field :title, :class => 'field' %>

  <div class="labelholder">
    <label>Description:</label>
    <i>Insert the full description and guidelines of your job</i>
  </div>
  <%= f.text_area :description, :class => 'field' %>

  <div class="labelholder">
    <label>Tags:</label>
    <i>Tags Associated With Job</i>
  </div>
  <%= f.text_field :tags, :class => 'field' %>

  <div class="labelholder">
    <label>Price:</label>
    <i>Enter in Increments of $5</i>
  </div>
  <%= f.text_field :price, :value => '$5', :onfocus => "if(this.value=='$5')this.value=''", :onblur => "if(this.value=='')this.value='$5'", :class => 'price' %>

  <div class='clear'/>
  <div class="labelholder">
    <label>City:</label>
  </div>
  <%= f.text_field :city, :class => 'city' %>

  <div class='clear'/>
  <div class="labelholder">
    <label>State:</label>
  </div>
  <%= f.select :state, STATES, {:include_blank => true}, {:class => 'states'} %>

  <div class='clear'/>
  <div class="labelholder">
    <label>Due Date:</label>
  </div>
  <%= f.date_select :due_date, { :order => [:month, :day, :year], :use_month_numbers => true }, :class => 'date' %>

  <div class='clear'/>

</div> <!--LEFT-->

<div class="clear"></div>

  <%= f.submit 'Plant Seed', :class => 'plantseed' %>
  <div class="clear"></div>
  <br />
<% end %>
