- project.project_alerts.each do |message|
  #listings
    - unless message.alert_type == "bid"
      .post
        .field
          = link_to image_tag(project.user.profile.picture.url(:thumb)), profile_path(project.user)
        .field
          = project.user.username
          %br/
        .field
          = project.title
          = message.message
        .field
          = message_icon_for(message.message)
          %div
            = message.occurred.strftime("%b %d, %Y - %H:%M")
      .clear
    - else
      .post
        .field
          Choose Sprowter
          %br
          (Accept Provider)
        .field
          = link_to 'Cancel Project', project_cancel_path(project.id)
        %ul.sprowter
          %li.left
            = link_to image_tag(Bid.find(message.bid_id).user.profile.picture.url(:thumb), :size => '60x60'), profile_path(Bid.find(message.bid_id).user)
          %li.left
            = link_to Bid.find(message.bid_id).user.username, profile_path(Bid.find(message.bid_id).user)

          %li.left
            = link_to 'Feedback',  feedbacks_url(:user_id => Bid.find(message.bid_id).user.id)
          %li.left

          %li.left{:style=>'background:none;'}
            = link_to 'Feedback',  profile_url(Bid.find(message.bid_id).user.id)
          %li.left{:style=>'background:none;'}

            = link_to 'Resume', '#'

        %p.text
          = message.message
        .field
          = message_icon_for(message.message)
        %ul.sprowter
          %li.left
            = link_to "Accept", bid_accept_path(message.bid_id)
          %li.left
            = link_to "Decline", bid_reject_path(message.bid_id)
          %li.left
            = link_to "Counter Offer", new_bid_path(:project_id => project.id, :coffer => true)
