- content_for :keywords, @tags
= render :partial => 'plant'
#container
  #main
    = render :partial => 'recent_projects'
    .content
      .head
        .left
          %h5 Projects
        .right
          %ul.big
            %li= link_to('All', projects_url, :class => "active")
            %li= link_to 'Open', projects_url(:filter => 'open')
            %li= link_to 'Completed', projects_url(:filter => 'completed')
      #inboxhead
        %b.left Order #
        %b.right Updated
        .clear
      #inbox
        .post{:style=>'border-bottom: 1px solid #D6BF9E;'}
          - @projects.each do |project|
            .row
              .field{:style=>'min-width:10%;'}
                = link_to project.id, project_inside_path(project.id)
              .field{:style=>'min-width:50%;'}
                = project.title
              .field{:style=>'min-width:10%;'}
                = project.updated_at.strftime("%b %d, %Y")
            .clear
      #paginationholder
        .pagination
          %ol.wp-paginate
            %li
              %span.title
            %li
              %a.prev{:href => "#"} ‹‹
            %li
              %span.currentpage 1
            %li
              %a.page{:href => "#", :title => "2"} 2
            %li
              %a.page{:href => "#", :title => "3"} 3
            %li
              %a.page{:href => "#", :title => "4"} 4
            %li
              %a.next{:href => "#"} ››
  .clear

