= render :partial => 'plant'
#container
  #main
    .rightside
      %h2 Sprowt Around
      %p Find the jobs you want to do
      %form#search{:action => "", :method => "get", :name => "input"}
        %input{:name => "Search", :onblur => "if(this.value=='')this.value='Search'", :onfocus => "if(this.value=='Search')this.value=''", :type => "text", :value => "Search"}/
        %button{:type => "submit"} Search
      .clear
      = render :partial => 'shared/categories'
      / /BOX
      = image_tag 'icon_rooster.png', :class => 'rooster'
      .twitbox
        #twitter
          %ul#twitter_update_list
            %li
        %span.quote
      / /TWITBOX
      .follow
        %h2
          %a{:href => "#"} @sprowty
    / /RIGHTSIDE
    .content
      .convohead
        .left
          %h5 Project Description
        / /LEFT
      / /HEAD
      #listings
        .posttwo
          .sprowts
            %b
              = @project.bids.length
            %p Sprowts
            %p (Bids)
          .pic
            = link_to image_tag(@project.user.profile.picture.url(:thumb)), profile_path(@project.user)
          .info
            %h2= @project.title
            %ul.posted
              %li
                %b Due:
                = @project.due_date.strftime("%m/%d/%Y")
              %li
                %b By:
                %a#stay-target-1.stay-tooltip-target.tooltip-target= link_to @project.user.username, profile_path(@project.user)
            %ul.posted
              %li
                %b Location:
                = @project.city
                , #{@project.state}
            / /Posted
            #description
              .keywords
                %b In Category:
                %ul
                  - @project.categories.each do |category|
                    %li
                      = link_to @category.name, category
              / /Category
              .keywords
                %b Keywords:
                %ul
                  %li
                    %a{:href => "#"}> Keyword
                    ,
                  %li
                    %a{:href => "#"}> Keyword
                    ,
                  %li
                    %a{:href => "#"}> Keyword
                    ,
                  %li
                    %a{:href => "#"}> Keyword
                    ,
              / /Keywords
            / /Description
            %p= @project.description
            %ul.actions
              - unless @project.user == current_user
                %li= link_to 'Sprowt it', new_bid_path(:project => @project), :class => 'sprowt'
              %li
                %a{:href => "#"} Create Similar
              %li.share
                %a#stay-target-2.stay-tooltip-target.tooltip-target Share
            #stay-content-2.stay-tooltip-username.tooltip-share
              %ul
                %li
                  %a.facebook{:href => "#"}
                %li
                  %a.twitter{:href => "#"}
                %li
                  %a.email{:href => "#"}
            / /stay-content-2
          / /INFO
          .price
            %h4= number_to_currency(@project.price, :precision => 0)
            %i Asking Price
          .clear
        / /POST
      / /LISTINGS
    / /CONTENT
  / /MAIN
  .clear
/ /CONTAINER
= render :partial => 'layouts/footer'