- content_for :keywords, @tags
- unless current_user
  #subhead
- else
  #subhead
#needdone
  .holder
    .left
      %h4 Need Something Done?
    / /LEFT
    .right
      %form#search{:action => "", :method => "get", :name => "input"}
        %input#what_you_need_done.field{:name => "what_you_need_done", :placeholder => "Type What You Need Done Here", :type => "text"}/
        %button#plant_it{:type => "submit"} Plant
    / /RIGHT
/ /NEEDDONE
#container
  #main
    .rightside
      %h2 Sprowt Around
      %p Find the jobs you want to do
      = form_for :search, :url => root_url do |f|
        = f.text_field :title_or_description_contains, :placeholder => 'Search'
        %button{:type => "submit"} Search
      .clear
      .boxhead
        %h3 Categories
      .box
        %ul.categories
          %li
            %a{:href => "#"} Sample Link
          %li
            %a{:href => "#"} Sample Link
          %li
            %a{:href => "#"} Sample Link
          %li
            %a{:href => "#"} Sample Link
      / /BOX
      = image_tag "icon_rooster.png", :class => 'rooster'
      .twitbox
        #twitter
          %ul#twitter_update_list
            %li
        %span.quote
      / /TWITBOX
      .follow
        %h2
          %a{:href => "http://twitter.com/#!/sprowty", :target => "_blank"} @sprowty
    / /RIGHTSIDE
    = javascript_include_tag 'http://www.twitter.com/javascripts/blogger.js', 'http://twitter.com/statuses/user_timeline/sprowty.json?callback=twitterCallback2&amp;count=5'
    .content
      .head
        .left{:style => "width:450px"}
          %h2{:style => "margin-top:5px;"} See What Sprowty Has Done For The Week
        / /LEFT
        .spotlight
          .spotlight-video
          .spotlight-content
            %h2 WEEK ONE
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet nibh vel nibh ullamcorper molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce purus enim, vulputate vitae malesuada in, tristique vel ante. Integer eget purus at purus laoreet facilisis id sed magna.
            %p Mauris lectus ipsum, commodo sit amet mattis tempus, porta sed mi. Fusce dictum porta tempus. Sed rutrum posuere mauris id porttitor. Nam pretium pharetra purus, id fringilla erat placerat vitae. Integer risus arcu, tempor vel dignissim et, dapibus et quam. Etiam rutrum diam quis quam tincidunt vitae iaculis justo pretium.
          / /SPOTLIGHT-CONTENT
        / /SPOTLIGHT
        #listings
          .clear
          - @projects.each do |project|
            .post{:style => "background-color: #{cycle('#E5D7C1', '#F5EFE6')};width:620px;"}
              .pic{:style => "background-color:#000;width:123px;height:103px;margin-top:15px;margin-bottom:25px;margin-right: 20px;"}/
        %h2{:style => "color:#894125;font-size:32px;margin-top: 10px;"}= link_to project.title, community_project_path(project.id)
        .posted.red
          By: #{link_to project.user.username, '#'}
        %p{:style => "color:#000;"}= project.description
        .clear
        %ul.actions{:style => "float: right;margin-top:-50px;"}
          %li LIKE
          %li.red= link_to 'Fund Community', '#'
          %li.red= link_to 'Donate Time', '#'
    / /LISTINGS
  / /HEAD
/ /CONTENT
/ /MAIN
.clear
= will_paginate @projects
/ /CONTAINER
#botlinks
  .left
    %ul
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
      %li
        %a{:href => "#"} Sample
    %p Etiam at urna sagittis nulla pulvinar dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis mi vitae ligula tristique vel tempor magna lacinia. Cras laoreet, velit in ornare placerat, mi ipsum consectetur augue, vel egestas nibh mauris quis est.
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2010
/ /BOTLINKS
