#subhead
#needdone
  .holder
    .left
      %h4 Login
#container
  #main
    - if alert
      .errors
        %p= alert
    #signupcontainer
      .left
        %h2 Sign in
        = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          %p= f.text_field :email,   :class    => 'field clearField', :value => 'E-mail'
          %p= f.password_field :password, :class => 'field clearField', :value => 'Password'
          - if devise_mapping.rememberable?
            %p
              = f.check_box :remember_me
              = f.label :remember_me
          = f.submit "Sign in", :class => "signin_submit"
        .clear
        %p= render :partial => "devise/shared/links"
#botlinks
  .left
    %ul
      %li
        %a{:href => "#"} Contact Us
      %li
        %a{:href => "#"} Terms Of Service
      %li
        %a{:href => "#"} How To
      %li
        %a{:href => "#"} FAQ
      %li
        %a{:href => "#"} Blog
  / /LEFT
  .right
    %h4 Sprowty
    %b All Rights Reserved, 2010
/ /BOTLINKS