#subhead
#needdone
  .holder
    .left
      %h4 Login
#container
  #main
    - if alert
      .errors
        %p= alert
    #signupcontainer
      .left
        %h2 Sign in
        = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          %p= f.text_field :email,   :class    => 'field clearField', :value => 'E-mail'
          %p= f.text_field :password, :class => 'field clearField', :value => 'testing'
          - if devise_mapping.rememberable?
            %p
              = f.check_box :remember_me
              = f.label :remember_me
          = f.submit "Sign in", :class => "signin_submit"
        .clear
        %p= render :partial => "devise/shared/links"
