      <div id="profile">
        <%= form_for @resume, :url => resume_path do |f| %>
        <p><%= error_messages_for :resume %></p>
        <div class="settings">
          <div class="label">
            <label>Resume Title</label></div>
            <div class="input">
              <%= f.text_field :title, :placeholder => "Experienced accountant with 10 years experience" %>
            </div>
          </div>
          <div class="clear"></div>

    <div class="settings">
      <div class="label">
        <label>Bio</label>
      </div>
      <div class="input">
        <%= f.text_area :activities, :placeholder => 'Enter your Bio here.' %>
      </div>

    </div><!--/SETTINGS-->
    <div class="clear"></div>

    <div class="settings">
      <div class="label"><label>Education</label></div>
      <div class="input">
        <%= f.text_area :education, :placeholder => 'Enter education' %>
      </div>
    </div>
    <div class="clear"></div>

    <div class="settings">
      <div class="label"><label>Experience</label></div>
      <div class="input">
        <%= f.text_area :experience, :placeholder => 'Enter experience' %>
      </div>
    </div>
    <div class="clear"></div>

    <div class="settings">
      <div class="label"><label>Skills</label></div>
      <div class="input">
        <%= f.text_area :sample_work, :placeholder => 'Enter any skills you feel is beneficial (if applicable)' %>
      </div>
      <div class="clear"></div>

    <div class="clear"></div>
      <div class="clear"></div>
      <%= f.submit 'Save', :class => 'save', :style => 'border: none;' %>
    <% end %>
    </div>
  </div> <!--/PROFILE-->

