<div id="subhead"></div>

<div id="container">

  <div id="main">
      <div id="profile">
      </div> <!--/PROFILE-->
    </div> <!--/CONTENT-->
  </div> <!--/MAIN-->

  <div class="clear"></div>
</div> <!--/CONTAINER-->

<%= resume.title %>
<%= resume.activities %>
<%= resume.exerience %>
<%= resume.education %>
<%= resume.sample_work %>
