<div id="subhead"></div>
<div id="container">
  <div id="main">
    <div class="content">
      <div class="head">
        <div class="left">
          <h5>My Resume</h5>
        </div> <!--/LEFT-->
        <div class="right">
          <ul>
            <li class="sort"><b>Manage Your Account:</b></li>
            <li><%= link_to 'Edit Information', edit_user_resume_path(current_user,current_user.resume.id) %></li>
          </ul>
        </div> <!--/RIGHT-->
      </div> <!--/HEAD-->
      <div id="profile">
        <div class="settings"> <div class="label"> <label>Resume Title</label></div> <div class="input" style="margin-top: 10px; margin-left: 40px;"> <%= @resume.title %> </div> </div> <div class="clear"></div>

        <div class="settings"> <div class="label"> <label>Activities</label> </div> <div class="input" style="margin-top: 10px; margin-left: 40px;"> <%= @resume.activities %> </div> </div> <div class="clear"></div>

        <div class="settings"> <div class="label"><label>Experience</label></div> <div class="input" style="margin-top: 10px; margin-left: 40px;"> <%= @resume.experience %> </div> </div> <div class="clear"></div>

        <div class="settings"> <div class="label"><label>Education</label></div> <div class="input" style="margin-top: 10px; margin-left: 40px;"> <%= @resume.education %> </div> </div> <div class="clear"></div>

        <div class="settings"> <div class="label"><label>Sample Work</label></div> <div class="input" style="margin-top: 10px; margin-left: 40px;"> <%= @resume.sample_work %> </div> </div> <div class="clear"></div>
      </div>
  </div> <!--/PROFILE-->

</div>
