#header
  .left
    .logo
      %h1= link_to 'sprowty', root_path
  .right
    - unless current_user
      #logincontainer
        #topnav.topnav
          %a.signin{:href => "login"}
            %span Sign in
          %a.signup{:style => "margin-left: 110px; margin-top: -32px", :href => new_user_registration_path}
            %span{:style => "margin-right: 17px"} sign up
        %fieldset#signin_menu
          = form_for "user", :url => user_session_path do |f|
            %ul
              = f.label "Email"
              = f.text_field :email, :placeholder => 'enter email'
              = f.label "Password"
              = f.password_field :password, :placeholder => 'enter password'
            %p{:style => 'float: left; margin-top: 4px;'}
              = link_to 'Forgot Password?', new_password_path(User), :style => "color: #894125; font: 12px Georgia,'Times New Roman',Serif;"
            = f.submit 'Sign in', :style => 'float:right; margin-right:1px;'
            .clear
    - else
      %ul.userlog
        %li
          %b Welcome
        %li= link_to current_user.profile.first_name || "anonymous", profile_path(current_user.profile.id)
        %li= link_to 'Logout', logout_path
      %ul.loggedin
        %li= link_to 'My Profile', profile_path(current_user.profile.id)
        %li= link_to 'Inbox', inbox_path
        %li
          %a{:href => "/projects"} Projects
  .clear
