!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title sprowty
    %meta{:description => "Unique site providing users to bid on projects as well as post projects for bids by other users. Donate money to community projects."}/
    %meta{:content => (keywords = yield :keywords) ? keywords : 'projects,work,money,paid,contract,freelance,bid', :name => "keywords"}/
    %meta{:content => "© 2010 Sprowty", :name => "copyright"}/
    %meta{:content => "someone@sprowty.com", :name => "contact"}/
    %meta{:content => "en", "http-equiv" => "content-language"}/
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "noindex,nofollow", :name => "robots"}/
    %meta{:content => "nosnippet,nofollow", :name => "googlebot"}/
    = csrf_meta_tag
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2914822-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #topbar
    = render :partial => 'layouts/nav'
    = yield
    = render :partial => 'layouts/footer'
    #footer
      .holder
        %a{:href => "#top"}/
        %h3 Back to Top

    = yield :javascript
    = stylesheet_link_tag "application", "colorbox", "slider", "tipTip"
    = javascript_include_tag "jquery","easySlider1.7", "application", "rails", "jquery.colorbox-min", "scrolltop", "jquery.clearfield.min", "jquery.tipTip.minified"
