<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>sprowty</title>
<%= stylesheet_link_tag "application", "lightboxes", "colorbox" %>
<%= javascript_include_tag "jquery", "application", "rails" %>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<%= csrf_meta_tag %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2914822-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

  <div id="topbar"></div> <!--/Topbar-->

  <div id="header">
    <div class="left">
      <div class="logo">
        <h1><%= link_to 'sprowty', root_path %></h1>
      </div>
    </div> <!--/LEFT-->

    <div class="right">
    <% unless current_user %>
      <!--SIGN IN-->
      <div id="logincontainer">

        <div id="topnav" class="topnav">
          <a href="login" class="signin">
            <span>Sign in</span>
          </a>
        </div>

        <fieldset id="signin_menu">
          <%= semantic_form_for "user", :url => user_session_path do |f| %>
          <ul>
            <%= f.input :email, :as => :string %>
            <%= f.input :password, :as => :password %>
            <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>

            <%= f.submit 'Sign in', :style => 'float:right;' %>

            <div class="clear"></div>
          </ul>
          <% end %>
        </fieldset>

      </div>
    <!--/SIGN IN-->

      <%= link_to image_tag('fbconnect.png', :class => 'fbconnect'), user_omniauth_authorize_path(:facebook) %>

      <% else %>
        <ul class="loggedin">
          <li><%= link_to 'My Profile', profile_path %></li>
          <li><%= link_to_resume %>
          <li><%= link_to 'Inbox', inbox_path %></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">You're Needed</a></li>
        </ul>

        <ul class="userlog">
          <li><b>Welcome</b></li>
          <li><%= link_to current_user.username, profile_path %></li>
          <li><%= link_to 'Logout', logout_path %></li>
        </ul>
      <% end %>
    </div> <!--/RIGHT-->

    <div class="clear"></div>
  </div> <!--/HEADER-->

  <%= yield %>

  <div style="display: none;" id="sign_up_container">
    <%= render "shared/sign_up" %>
  </div>

  <div id="footer">
    <div class="holder">
      <a href="#top"><h3>Back to Top</h3></a>
    </div> <!--/HOLDER-->
  </div> <!--/FOOTER-->


<!-- Sign In -->
<script type="text/javascript">
  $(function(){

    $(".signin").click(function(e) {
      e.preventDefault();
      $("fieldset#signin_menu").toggle();
      $(".signin").toggleClass("menu-open");
    });

    $("fieldset#signin_menu").mouseup(function() {
      return false
    });

    $(document).mouseup(function(e) {
      if ($(e.target).parent("a.signin").length == 0) {
        $(".signin").removeClass("menu-open");
        $("fieldset#signin_menu").hide();
      }
    });

    $('#forget_username_link').tipsy({ gravity: 'w' });

    $("#stay-target-1 #stay-target-2 #stay-target-3 #stay-target-4 #stay-target-5 #stay-target-6 #stay-target7 #stay-target8 #stay-target8 #stay-target-9 #stay-target-10 #stay-target-11 #stay-target-12").ezpz_tooltip({
    	contentPosition: 'belowStatic',
    	stayOnContent: true,
    	offset: 0
    });

    $('#sign_up').colorbox({ inline: true, href: '#signupcontainer', width: "800px", height: "440px", innerHeight: "420px" });
    $('.plant').colorbox({ width: "50%", height: "580px", innerHeight: "460px" });
    $('.sprowt').colorbox({ width: "50%", height: "570px", innerHeight: "540px" });

    $('.clearField').clearField();
  });
</script>




<%= yield :javascript %>
<%= javascript_include_tag 'scrolltop', 'jquery.clearfield.min','jquery.ezpz_tooltip.min', 'jquery.tipsy', 'jquery.colorbox-min', :cache => false %>
<%= javascript_include_tag 'http://www.twitter.com/javascripts/blogger.js', 'http://twitter.com/statuses/user_timeline/sprowty.json?callback=twitterCallback2&count=5' %>

</body>
</html>
